<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <receiver android:name=".widget.SingleBalanceWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="com.example.balancewidget.REFRESH"/><action android:name="com.example.balancewidget.RENDER"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/single_widget_info" />
        </receiver>
        <receiver android:name=".widget.MultiBalanceWidget" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/><action android:name="com.example.balancewidget.REFRESH"/><action android:name="com.example.balancewidget.RENDER"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/multi_widget_info" />
        </receiver>
    </application>
</manifest>
